 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

 <head>
  <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
  <title></title>
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%">

<!--[if mso]>
<style type="text/css">
body, table, td, th, h1, h2, h3 {font-family: Helvetica, Arial, sans-serif !important;}
</style>
<![endif]-->

<span class="preheader" style="display:none!important;color:#f3f3f3;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden">
  <%= @preheader_text %>
</span>

<header style="background-color:#<%= @header_bgcolor -%>;padding:30px;">
  <a href="<%= Discourse.base_url %>" style='color:#<%= @header_color -%>;font-size:28px;'>
  <%- if logo_url.blank? %>
    <center><%= SiteSetting.title %></center>
  <%- else %>
    <img src="<%= logo_url %>" style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:40px;margin:auto;max-width:100%;outline:0;text-decoration:none;width:auto;" alt="<%= SiteSetting.title %>">
  <%- end %>
  </a>
</header>

<table class="body" style="width:100%;background:#f3f3f3;padding:0;border-spacing:0;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:1.3;vertical-align:top;">
  <tr>
    <td class="side-spacer" style="width:5%;vertical-align:top;padding:0;">
      <div style="background-color:#2F70AC;">
        <table class="spacer" style="border-spacing:0;padding:0;width:100%">
          <tbody>
            <tr>
              <td height="400px" style="height:400px;border-collapse:collapse!important;margin:0;mso-line-height-rule:exactly;padding:0;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
    <td style="vertical-align:top;padding:0;font-family:Helvetica,Arial,sans-serif;">
      <table align="center" style="border-spacing:0;background:#fefefe;background-color:#2F70AC;margin:0;padding:0;text-align:inherit;vertical-align:top;width:100%">
        <tbody>
          <tr>
            <td style="border-collapse:collapse!important;color:#0a0a0a;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:normal">
              <div>

<table class="row" style="padding:0;vertical-align:top;width:100%;border-spacing:0;">
  <tbody>
    <tr>
      <td style="padding: 10px 0 0 0;">
        <h3 class="text-center" style="color:#fff;font-size:28px;font-weight:400;margin:0 0 10px 0;text-align:center;border-collapse:collapse!important;">
          <%=t 'user_notifications.digest.since_last_visit' %>
        </h3>
      </td>
    </tr>
  </tbody>
</table>

<table style="margin-bottom:20px;padding:0;text-align:left;vertical-align:top;width:100%" class="row">
  <tbody>
    <tr>
      <th class="large-offset-1 small-3 large-3 columns first" style="margin:0;padding:0 8px 16px 81px;width:179px">
        <table style="padding:0;vertical-align:top;width:100%">
          <tbody>
            <tr>
              <th style="line-height:1.3;margin:0;padding:0;text-align:center">
                <h1 class="text-center" style="color:#fff;font-size:3em;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center;word-wrap:normal">
                  <strong><%= @new_topics_count -%></strong>
                </h1>
                <h4 class="text-center" style="color:#fff;font-size:16px;font-weight:400;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:center;word-wrap:normal">
                  <%=t 'user_notifications.digest.new_topics' %>
                </h4>
              </th>
            </tr>
          </tbody>
        </table>
      </th>
      <th class="small-1 large-1 columns" style="margin:0;padding:0 8px 16px 8px;width:49px">
        <table style="padding:0;width:100%">
          <tbody><tr><th style="margin:0;padding:0;"></th></tr></tbody>
        </table>
      </th>
      <th class="small-3 large-3 columns" style="margin:0;padding:0 8px 16px 8px;width:179px">
        <table style="padding:0;vertical-align:top;width:100%">
          <tbody>
            <tr>
              <th style="line-height:1.3;margin:0;padding:0;text-align:center;vertical-align:top;">
                <h1 class="text-center" style="color:#fff;font-size:3em;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center;word-wrap:normal">
                  <strong><%= @unread_messages -%></strong>
                </h1>
                <h4 class="text-center" style="color:#fff;font-size:16px;font-weight:400;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:center;width:100%">
                  <%=t 'user_notifications.digest.unread_messages' %>
                </h4>
              </th>
            </tr>
          </tbody>
        </table>
      </th>
      <th class="small-1 large-1 columns" style="margin:0;padding:0 8px 16px 8px;width:49px">
        <table style="padding:0;width:100%">
          <tbody><tr><th style="margin:0;padding:0;"></th></tr></tbody>
        </table>
      </th>
      <th class="small-3 large-3 columns" style="margin:0;padding:0 8px 16px 8px;width:179px">
        <table style="padding:0;vertical-align:top;width:100%">
          <tbody>
            <tr>
              <th style="line-height:1.3;margin:0;padding:0;text-align:center;">
                <h1 class="text-center" style="color:#fff;font-size:3em;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center;word-wrap:normal">
                  <strong><%= @unread_notifications -%></strong>
                </h1>
                <h4 class="text-center" style="color:#fff;font-size:16px;font-weight:400;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:center;word-wrap:normal">
                  <%=t 'user_notifications.digest.unread_notifications' %>
                </h4>
              </th>
            </tr>
          </tbody>
        </table>
      </th>
      <th class="small-1 large-1 columns last" style="line-height:1.3;margin:0;padding:0 16px 16px 8px;width:49px">
        <table style="padding:0;width:100%">
          <tbody><tr><th style="margin:0;padding:0;"></th></tr></tbody>
        </table>
      </th>
    </tr>
  </tbody>
</table>

<table class="row" style="padding:0;vertical-align:top;width:100%">
  <tbody>
    <tr>
      <h1 class="text-center" style="color:#fff;font-size:34px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal">
        <%=t 'user_notifications.digest.popular_topics' %>
      </h1>
    </tr>
  </tbody>
</table>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table align="center" style="border-spacing:0;background:#fefefe;margin:0;padding:0;text-align:center;vertical-align:top;width:100%">
        <tbody>
          <tr>
            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:normal">

<% @popular_topics.each_with_index do |t, i| %>
<!--   Beginning of Popular Topic   -->
<table class="row" style="width:100%">
  <tbody>
    <tr>
      <th class="small-8 large-8 columns first" style="margin:0;padding:0 8px 16px 16px;text-align:left;vertical-align:top;width:75%">
        <p style="color:#8f8f8f;line-height:1.3;margin: 20px 0 10px 0;">
          <%= category_badge(t.category, inline_style: true, absolute_url: true) %>
        </p>
      </th>
      <th class="small-4 large-4 columns last" style="margin:0;padding: 0 16px 16px 8px;text-align:right;vertical-align:top;width:25%">
        <p class="text-right" style="color:#8f8f8f;line-height:1.3;margin:20px 0 10px 0;">
          <%= short_date(t.created_at) %>
        </p>
      </th>
    </tr>
  </tbody>
</table>

<table class="row" style="vertical-align:top;width:100%">
  <tbody>
    <tr>
      <th class="small-9 large-9 columns first" style="padding: 0 8px 16px 16px; text-align:left; width:80%;">
        <h2 style="font-size:30px;font-weight:400;line-height:1.3;margin:0 0 10px 0;padding:0;word-wrap:normal">
          <a href="<%= Discourse.base_url_no_prefix + t.relative_url %>" style="color:#2F70AC;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none">
            <strong><%= t.title -%></strong>
          </a>
        </h2>
      </th>
      <th class="small-3 large-3 columns last" style="color:#0a0a0a;line-height:1.3;margin:0;padding:0 16px 16px 8px;text-align:center;width:20%">
        <% if t.image_url.present? %>
          <img src="<%= Discourse.base_url_no_prefix + t.image_url -%>" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:none;margin:auto;max-height:80px;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto" align="center" class="float-center">
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<table class="row" style="padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
    <tr>
      <th class="small-3 large-1 columns first" style="color:#0a0a0a;line-height:1.3;margin:0 auto;padding:0 8px 16px 16px;text-align:center;width:10%">
        <img src="<%= t.user.small_avatar_url -%>" style="-ms-interpolation-mode:bicubic;border-radius:50%;clear:both;display:block;float:none;height:50px;width:50px;margin:0;max-width:100%;outline:0;text-align:center;text-decoration:none;" align="center" class="float-center">
      </th>
      <th class="small-9 large-10 columns last" style="color:#0a0a0a;padding:0 16px 16px 8px;text-align:left;width:90%">
        <h6 style="color:inherit;font-size:18px;font-weight:400;line-height:1.3;margin:0;padding:0;word-wrap:normal;"><%= t.user.try(:username) -%></h6>
        <% if t.user.try(:name).present? %>
          <p style="color:#8f8f8f;line-height:1.3;margin:0 0 16px 0;padding:0;"><%= t.user.name -%></p>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<%- if t.first_post.present? && !t.first_post.user_deleted %>
<table style="border-bottom:1px solid #f3f3f3;padding:0;text-align:left;vertical-align:top;width:100%" class="row">
  <tbody>
    <tr>
      <th class="small-12 large-12 columns first last" style="padding:0 16px 16px 16px;text-align:left;width:100%;font-weight:normal;">
        <p style="color:#0a0a0a;line-height:1.3;margin:0 0 10px 0;padding:0;font-weight:200;">
          <%= email_excerpt(t.first_post.cooked) %>
        </p>
      </th>
    </tr>
  </tbody>
</table>
<%- end %>

<table class="row" style="padding:0;text-align:left;vertical-align:top;width:100%; margin-top:20px;">
  <tbody>
    <tr style="vertical-align:top;">
      <th class="small-3 large-1 columns first" style="padding:0 8px 16px 16px;text-align:left;width:10%">
        <img src="<%= email_image_url 'heart.png' -%>" style="-ms-interpolation-mode:bicubic;clear:both;display:inline-block;float:left;height:20px;margin-right:10px;max-width:100%;opacity:.4;outline:0;text-decoration:none;width:auto">
        <p style="color:#8f8f8f;float:left;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><%= t.like_count -%></p>
      </th>
      <th class="small-3 large-1 columns" style="padding:0 8px 16px 8px;text-align:left;width:10%">
        <img src="<%= email_image_url 'comment.png' -%>" style="-ms-interpolation-mode:bicubic;clear:none;display:inline-block;float:left;height:20px;margin-right:10px;max-width:100%;opacity:.4;outline:0;text-decoration:none;width:auto">
        <p style="color:#8f8f8f;float:left;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><%= t.posts_count - 1 -%></p>
      </th>
      <th class="small-6 large-3 columns" style="padding:0 8px 16px 8px;text-align:left;width:20%">
        <% t.posters_summary.each do |ps| %>
          <% if ps.user %>
            <img src="<%= ps.user.small_avatar_url -%>" style="-ms-interpolation-mode:bicubic;border-radius:50%;clear:both;display:inline-block;height:20px;max-width:100%;outline:0;text-decoration:none;width:20px">
          <% end %>
        <% end %>
      </th>
      <th class="small-4 large-3 columns" style="padding:0 8px 16px 8px;text-align:left;width:30%">
<!-- TODO
        <a href="<%= Discourse.base_url_no_prefix + t.relative_url %>" style="color:#2199e8;float:right;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">
          <%=t 'user_notifications.digest.follow_topic' %>
        </a>
-->
      </th>
      <th class="small-8 large-4 columns last" style="line-height:1.3;padding:0 16px 0 8px;text-align:right;width:30%">
        <a href="<%= Discourse.base_url_no_prefix + t.relative_url %>" style="width:100%;background-color:#2199e8;color:#fff;text-decoration:none;padding:8px 16px;white-space: nowrap;">
          <%=t 'user_notifications.digest.join_the_discussion' %>
        </a>
      </th>
    </tr>
  </tbody>
</table>
<div style="background-color:#f3f3f3;">
  <table class="spacer" style="padding:0;width:100%">
    <tbody><tr><td height="20px" style="border-collapse:collapse!important;line-height:20px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr></tbody>
  </table>
</div>
<!--   End of Popular Topic   -->

<%= digest_custom_html("below_post_#{i+1}") %>

<% end %>

            </td>
          </tr>
        </tbody>
      </table>
    </td>
    <td class="side-spacer" style="width:5%;vertical-align:top;padding:0;">
      <!-- Blue background that goes down part-way behind content -->
      <div style="background-color:#2F70AC;">
        <table class="spacer" style="border-spacing:0;padding:0;width:100%">
          <tbody>
            <tr>
              <td height="400px" style="height:400px;border-collapse:collapse!important;margin:0;mso-line-height-rule:exactly;padding:0;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>

<% if @popular_posts.present? %>

<table style="background-color: #f3f3f3; width: 100%;">
  <tr>
    <td>
      <h1 class="text-center" style="font-size:34px;font-weight:400;line-height:1.3; padding: 60px 0 20px 0;text-align:center;">
        <%=t 'user_notifications.digest.popular_posts' %>
      </h1>
    </td>
  </tr>
</table>

<table class="body" style="width:100%;background:#f3f3f3;border-spacing:0;border-collapse:collapse!important;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:200;line-height:1.3;padding:0;text-align:left;vertical-align:top;">
  <tr>
    <td class="center" align="center" valign="top" style="border-collapse:collapse!important;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;">
      <table align="center" class="container" style="width:90%;border-spacing:0;border-collapse:collapse!important;margin:0 auto;padding:0;text-align:center;vertical-align:top;">
        <tbody>
          <tr>
            <td style="border-spacing:0;border-collapse:collapse!important;margin:0;padding:0;text-align:left;vertical-align:top;">

<% @popular_posts.each do |post| %>

<!--   Beginning of Popular Post   -->
<table class="row" style="width:100%;background:#fefefe;border-spacing:0;padding:0;text-align:left;vertical-align:top;">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last" style="margin:0 auto;padding:16px;text-align:left;width:764px">
        <p style="color:#0a0a0a;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left; font-weight:200;">
          <%= email_excerpt(post.cooked) %>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing:0;background-color:#f3f3f3;padding:0;position:relative;text-align:left;vertical-align:top;width:100%" class="row">
  <tbody>
    <tr>
      <td class="large-offset-1 small-11 large-12 columns first last" style="border-spacing:0;padding:0;color:#0a0a0a;float:right;line-height:1.3;margin:0 auto;padding:0 16px 16px 81px;text-align:left;width:764px">
        <img src="<%= email_image_url 'right_triangle.png' -%>" style="-ms-interpolation-mode:bicubic;clear:both;display:block;height:20px;max-width:100%;outline:0;text-decoration:none;width:20px">
      </td>
    </tr>
  </tbody>
</table>

<table style="background-color:#f3f3f3;padding:0;position:relative;text-align:left;vertical-align:top;width:100%" class="row">
  <tbody>
    <tr>
      <th class="small-3 large-1 columns first" style="color:#0a0a0a;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:8px;text-align:left;width:49px">
        <center style="min-width:17px;width:100%">
          <img src="<%= post.user.small_avatar_url -%>" style="-ms-interpolation-mode:bicubic;border-radius:50%;clear:both;display:block;float:none;height:50px;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:50px" align="center" class="float-center">
        </center>
      </th>
      <th class="small-8 large-2 columns" style="color:#0a0a0a;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:8px;text-align:left;width:114px">
        <h6 style="color:inherit;font-size:18px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left;word-wrap:normal"><%= post.user.username -%></h6>
        <p style="color:#8f8f8f;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left"><%= post.user.name -%></p>
      </th>
      <th class="small-6 large-5 columns" style="color:#0a0a0a;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:8px;text-align:left;width:309px">
        <p style="color:#8f8f8f;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
          <%=t 'user_notifications.digest.from_topic_label' %>
          <a href="<%= post.full_url -%>" style="color:#2199e8;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><%= post.topic.title -%></a>
        </p>
      </th>
      <th class="small-6 large-3 columns last" style="line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:8px;padding-right:16px;text-align:right;width:179px">
        <a href="<%= post.full_url -%>" style="width:100%;background-color:#2199e8;color:#fff;text-decoration:none;padding:8px 16px;white-space: nowrap;">
          <%=t 'user_notifications.digest.join_the_discussion' %>
        </a>
      </th>
    </tr>
  </tbody>
</table>

<div style="background-color:#f3f3f3">
  <table class="spacer" style="padding:0;text-align:left;vertical-align:top;width:100%">
    <tbody><tr><td height="40px" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:normal">&#xA0;</td></tr></tbody>
  </table>
</div>
<!--   End of Popular Post   -->

<% end %>

<% end %>



<% if @other_new_for_you.present? %>

<table class="spacer" style="padding:0;width:100%">
  <tbody><tr><td height="80px" style="border-collapse:collapse!important;line-height:80px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr></tbody>
</table>
<h1 class="text-center" style="color:inherit;font-size:34px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;word-wrap:normal">
  <%=t 'user_notifications.digest.more_new' %>
</h1>
<table class="spacer" style="padding:0;width:100%">
  <tbody><tr><td height="40px" style="border-collapse:collapse!important;line-height:40px;margin:0;padding:0;">&#xA0;</td></tr></tbody>
</table>

<% end %>

<%= digest_custom_html("above_popular_topics") %>

<% @other_new_for_you.each do |t| %>

<!--   Begin new topic  -->
<table class="row" style="padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
  <tbody>
    <tr style="vertical-align:top;">
      <th class="small-2 large-1 columns first" style="padding:20px 8px 0 16px;text-align:left;width:49px">
        <p style="background:#2F70AC;border-radius:50%;color:#fff;height:30px;line-height:30px;margin:0 0 10px 0;padding:0;text-align:center;width:30px">
          <%= t.user_data ? (t.highest_post_number - t.user_data.last_read_post_number) : t.highest_post_number %>
        </p>
      </th>
      <th class="small-6 large-6 columns" style="padding:24px 8px 16px 8px;text-align:left;">
        <a href="#" style="color:#2F70AC;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none">
          <strong><%= t.title -%></strong>
        </a>
      </th>
      <th class="small-4 large-2 columns" style="padding:26px 8px 16px 8px;text-align:left;width:114px">
        <p style="color:#0a0a0a;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:left"><%= t.category.try(:name) -%></p>
      </th>
      <th class="small-6 large-4 columns" style="padding:24px 8px 16px 8px;text-align:left;width:244px">
        <% t.posters_summary.each do |ps| %>
          <% if ps.user %>
            <img src="<%= ps.user.small_avatar_url -%>" style="-ms-interpolation-mode:bicubic;border-radius:50%;clear:both;display:inline-block;height:20px;max-width:100%;outline:0;text-decoration:none;width:20px">
          <% end %>
        <% end %>
      </th>
      <th class="small-3 large-1 columns" style="padding:24px 8px 16px 8px;text-align:left;width:49px">
        <img src="<%= email_image_url 'heart.png' -%>" style="-ms-interpolation-mode:bicubic;clear:both;display:inline-block;height:20px;max-width:100%;opacity:.4;outline:0;text-decoration:none;width:auto">
        <p style="color:#8f8f8f;float:right;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:left"><%= t.like_count -%></p>
      </th>
      <th class="small-3 large-1 columns last" style="padding:24px 16px 16px 8px;text-align:left;width:49px">
        <img src="<%= email_image_url 'comment.png' -%>" style="-ms-interpolation-mode:bicubic;clear:both;display:inline-block;height:20px;max-width:100%;opacity:.4;outline:0;text-decoration:none;width:auto">
        <p style="color:#8f8f8f;float:right;line-height:1.3;margin:0 0 10px 0;padding:0;text-align:left"><%= t.posts_count - 1 -%></p>
      </th>
    </tr>
  </tbody>
</table>

<table class="spacer" style="padding:0;width:100%">
  <tbody><tr><td height="10px" style="border-collapse:collapse!important;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr></tbody>
</table>
<!--   End new topic  -->

<% end %>

<%= digest_custom_html("below_popular_topics") %>

            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<style>
  @media only screen {
    html {
      min-height: 100%;
      background: #f3f3f3
    }
  }

  @media only screen and (max-width:900px) {
    table.body img {
      width: auto;
      height: auto
    }
    table.body center {
      min-width: 0!important;
    }
    table.body .container {
      width: 95%!important;
    }
    table.body .side-spacer {
      width: 2.5%!important;
    }
    table.body .column,
    table.body .columns {
      height: auto!important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 16px!important;
      padding-right: 16px!important
    }
    table.body .column .column,
    table.body .column .columns,
    table.body .columns .column,
    table.body .columns .columns {
      padding-left: 0!important;
      padding-right: 0!important
    }
    td.small-1,
    th.small-1 {
      display: inline-block!important;
      width: 8.33333%!important
    }
    td.small-2,
    th.small-2 {
      display: inline-block!important;
      width: 16.66667%!important
    }
    td.small-3,
    th.small-3 {
      display: inline-block!important;
      width: 25%!important
    }
    td.small-4,
    th.small-4 {
      display: inline-block!important;
      width: 33.33333%!important
    }
    td.small-5,
    th.small-5 {
      display: inline-block!important;
      width: 41.66667%!important
    }
    td.small-6,
    th.small-6 {
      display: inline-block!important;
      width: 50%!important
    }
    td.small-7,
    th.small-7 {
      display: inline-block!important;
      width: 58.33333%!important
    }
    td.small-8,
    th.small-8 {
      display: inline-block!important;
      width: 66.66667%!important
    }
    td.small-9,
    th.small-9 {
      display: inline-block!important;
      width: 75%!important
    }
    td.small-10,
    th.small-10 {
      display: inline-block!important;
      width: 83.33333%!important
    }
    td.small-11,
    th.small-11 {
      display: inline-block!important;
      width: 91.66667%!important
    }
    td.small-12,
    th.small-12 {
      display: inline-block!important;
      width: 100%!important
    }
    .column td.small-12,
    .column th.small-12,
    .columns td.small-12,
    .columns th.small-12 {
      display: block!important;
      width: 100%!important
    }
    table.body td.small-offset-1,
    table.body th.small-offset-1 {
      margin-left: 8.33333%!important;
      Margin-left: 8.33333%!important
    }
    table.body td.small-offset-2,
    table.body th.small-offset-2 {
      margin-left: 16.66667%!important;
      Margin-left: 16.66667%!important
    }
    table.body td.small-offset-3,
    table.body th.small-offset-3 {
      margin-left: 25%!important;
      Margin-left: 25%!important
    }
    table.body td.small-offset-4,
    table.body th.small-offset-4 {
      margin-left: 33.33333%!important;
      Margin-left: 33.33333%!important
    }
    table.body td.small-offset-5,
    table.body th.small-offset-5 {
      margin-left: 41.66667%!important;
      Margin-left: 41.66667%!important
    }
    table.body td.small-offset-6,
    table.body th.small-offset-6 {
      margin-left: 50%!important;
      Margin-left: 50%!important
    }
    table.body td.small-offset-7,
    table.body th.small-offset-7 {
      margin-left: 58.33333%!important;
      Margin-left: 58.33333%!important
    }
    table.body td.small-offset-8,
    table.body th.small-offset-8 {
      margin-left: 66.66667%!important;
      Margin-left: 66.66667%!important
    }
    table.body td.small-offset-9,
    table.body th.small-offset-9 {
      margin-left: 75%!important;
      Margin-left: 75%!important
    }
    table.body td.small-offset-10,
    table.body th.small-offset-10 {
      margin-left: 83.33333%!important;
      Margin-left: 83.33333%!important
    }
    table.body td.small-offset-11,
    table.body th.small-offset-11 {
      margin-left: 91.66667%!important;
      Margin-left: 91.66667%!important
    }
  }
</style>


<%= digest_custom_html("above_footer") %>

<div class='footer'>
  <%=raw(t 'user_notifications.digest.unsubscribe',
           site_link: html_site_link(@anchor_color),
           unsubscribe_link: link_to(t('user_notifications.digest.click_here'), email_unsubscribe_url(host: Discourse.base_url_no_prefix, key: @unsubscribe_key), {:style=>"color: ##{@anchor_color}"}))  %>
</div>

<%= digest_custom_html("below_footer") %>

<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

</body>

</html>